/* General */

:root {
    --backgroundtheme: white;
    --texttheme: black;
    --colortheme: #0563BB;
    --subcolortheme: #F2F3F5;
}

.clickable {
    cursor: pointer;
}

body {
    color: var(--texttheme);
    padding-bottom: 0;
}

.opensans {
    font-family: "Open Sans";
}

.poppins {
    font-family: "Poppins";
}

.raleway {
    font-family: "Raleway";
}

.oone {
    font-family: "Otomanopee One";
}

.section-container {
    margin: 0;
    width: 100%;
    margin-bottom: 100px;
}

.sectionheader {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sectionheader h1 {
    font-size: 50px;
    font-weight: bold;
}

.sectionheader h1:after {
    content: "";
    display: block;
    width: 40px;
    height: 3px;
    background: #0563bb;
    position: relative;
    bottom: 2px;
    left: calc(50% - 20px);
}

.sectionheader h1:before {
    content: "";
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    position: relative;
    top: 53px;
    left: calc(50% - 60px);
}

@media screen and (max-width: 768px) {
    #all,
    footer {
        margin-left: 0;
    }
}

@media screen and (min-width: 768px) {
    #all,
    footer {
        margin-left: 200px;
    }
}


/* Footer */

#fhr {
    border-top: 5px solid #404040;
}

#footer {
    margin: 0;
}

#footer ul {
    font-size: 20px;
}


/* Register */

.formfooter {
    font-size: 14px;
}

.formfooter h5 {
    font-weight: bold;
}

.formfooter ul {
    padding: 0;
    margin-left: 35px;
}

.formfooter hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.formtitle {
    font-size: 35px;
}

#allrest {
    display: none;
}

#mychildselected {
    display: none;
}

#myselfselected {
    display: none;
}

#register {
    /*
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;*/
    margin: 0;
}

#registerform {
    width: 100%;
    height: 100%;
}

label {
    text-align: left;
}

#outform {
    display: grid;
    gap: 20px;
    text-align: center;
}

@media screen and (max-width: 1180px) {
    #outform {
        grid-template-rows: repeat(2, auto);
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 1180px) {
    #outform {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }
}

form {
    text-align: left;
    display: inline-block;
    border: 2px solid black;
    padding: 5px 30px;
    background-color: white;
}

.ibox {
    width: 80%;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}


/* Testemonials */

.slide h1 {
    font-size: 20px;
    font-family: poppins;
}

.slide h2 {
    font-size: 15px;
    font-family: poppins;
}

#testemonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#slideshow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

#slides {
    position: relative;
    width: 100%;
    text-align: center;
}

.activedot {
    background-color: #717171;
}

#leftarrow {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
}

#rightarrow {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
}

#control {
    font-size: 20px;
    margin-bottom: 15px;
}


/* Showcase */

#myBtnContainer {
    text-align: center;
}

iframe {
    width: 80%;
    height: auto;
}

.content-holder {
    padding: 10px;
    position: relative;
}

.img-fluid {
    width: auto;
    height: auto;
    z-index: 10;
    max-height: 50vh;
    display: inline;
    max-width: 100%;
}

.show {
    display: inline;
}

@keyframes zoom-away {
    0% {
        transform: scale(1, 1);
        display: visible;
    }
    50% {
        transform: scale(0.5, 0.5);
    }
    75% {
        transform: scale(0.01, 0.01);
    }
    100% {
        transform: scale(0, 0);
        display: none;
        height: 0px;
        width: 0px;
    }
}

.image-info {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 200;
    transition: all ease-in-out 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fcfdfc;
    color: #45505b;
}

.image-info::before {
    display: block;
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    top: 35px;
    left: 35px;
    border-top: 3px solid #d7dce1;
    border-left: 3px solid #d7dce1;
    transition: all 0.5s ease 0s;
    z-index: 500;
}

.image-info::after {
    display: block;
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    bottom: 35px;
    right: 35px;
    border-bottom: 3px solid #d7dce1;
    border-right: 3px solid #d7dce1;
    transition: all 0.5s ease 0s;
    z-index: 500;
}

.image-links i {
    font-size: 16px;
    color: #45505b;
    padding: 10px;
}

label:hover {
    color: black;
}

@keyframes zoom-into {
    0% {
        transform: scale(0, 0);
        display: none;
    }
    50% {
        transform: scale(0.01, 0.01);
    }
    75% {
        transform: scale(0.5, 0.5);
    }
    100% {
        transform: scale(1, 1);
        display: inline;
    }
}

.filteritem {
    background-color: var(--subcolortheme);
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    display: none;
    color: #45505b;
    animation-fill-mode: forwards;
}

.filterframe {
    width: 90%;
    padding: 10px;
}

#rowofitems {
    width: 100%;
    padding: 0px;
    margin: 0px;
    border: 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
}

.btn {
    text-decoration: none;
    cursor: pointer;
    display: inline;
    font-size: 14px;
    font-weight: 600;
    color: #272829;
    z-index: 30;
    margin-bottom: 20px;
    background-color: transparent;
    border: 0;
    border: none;
    outline: none;
}

*:focus {
    outline: 0 !important;
}

.btn:hover {
    color: #1f74c2;
}

.activebutton {
    color: #1f74c2 !important;
}


/* Class Schedule */

#schedule {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: white;
}

#schedule td,
#schedule th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#schedule tr:nth-child(even) {
    background-color: var(--subcolortheme);
}


/* Services */

#services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#topservices {
    display: grid;
    gap: 10px;
    width: 100%;
    margin-bottom: 10px;
}

#bottomservices {
    display: grid;
    gap: 10px;
    width: 100%
}

@media only screen and (min-width: 1000px) {
    #topservices {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
    }
    #bottomservices {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
    }
}

@media only screen and (max-width: 1000px) {
    #topservices {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
    #bottomservices {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 1fr;
    }
}

.box {
    position: relative;
    width: 100%;
    /*height: 280px;*/
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 4px;
    background-color: transparent;
    perspective: 1000px;
    margin: 2px;
    cursor: pointer;
    padding-bottom: 100%;
}

.box img {
    height: 100%;
    width: 100%;
    border-radius: 4px;
}

.front,
.back {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
    top: 0;
    left: 0;
}

.back {
    background: yellow;
    transform: rotateY(180deg);
    border-radius: 4px;
}

.front {
    background: white;
    height: 100%;
    width: 100%;
    border-radius: 4px;
}

.box:hover {
    box-shadow: 0px 0px 10px 5px grey;
}

.flip {
    transform: rotateY(180deg);
}

.box h3 {
    position: absolute;
    bottom: -4px;
    color: white;
    font-weight: bold;
    background-color: black;
    border-radius: 5px;
    padding: 2px;
}


/* About */

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#aboutschool {
    display: grid;
    gap: 20px;
    margin-bottom: 20px;
}

#aboutteacher {
    display: grid;
    gap: 20px;
}

@media screen and (max-width: 768px) {
    #aboutschool {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
    #aboutteacher {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
}

@media screen and (min-width: 768px) {
    #aboutschool {
        grid-template-columns: 1fr 3fr;
        grid-template-rows: auto;
    }
    #aboutteacher {
        grid-template-columns: 3fr 1fr;
        grid-template-rows: auto;
    }
}

#aboutschool>img {
    width: 100%
}

#aboutteacher>img {
    width: 100%
}


/* Home */

.sociallink:hover,
.sociallink:active,
.sociallink:focus,
.sociallink:visited {
    text-decoration: none !important;
}

#home i,
#home i:hover,
#home i:active,
#home i:focus,
#home i:visited {
    display: inline;
    font-size: 30px;
    color: black;
    text-decoration: none;
}

#home {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#home>h1 {
    font-size: 80px;
    font-weight: 900;
}

#home h2 {
    font-size: 20px;
}


/*Navigation*/

.active {
    background-color: #0563bb !important;
    color: white !important;
}

.active i {
    color: white !important;
}

#scrollbox {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
    z-index: 1000;
    min-width: 120px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#scrollbox:hover {
    visibility: visible;
}

.shown {
    display: block !important;
}

#navigation button {
    background: none;
    border: none;
    color: var(--colortheme);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    margin: 15px;
    display: none;
    font-size: 15px
}

#navigation button i {
    font-size: 15px
}

#navlist {
    visibility: visible;
}

#navlist ul {
    list-style-type: none;
    padding: 0;
    margin-left: 15px;
}

#navlist ul li a {
    background-color: var(--subcolortheme);
    width: 60px;
    height: 60px;
    border-radius: 60px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#navlist ul li a h4 {
    color: var(--texttheme);
    font-size: 15px;
    display: none;
    padding-left: 15px;
}

#navlist ul li a:hover {
    width: 160px;
    background-color: var(--colortheme);
    text-decoration: none;
}

#navlist ul li a:focus {
    text-decoration: none;
}

#navlist ul li a:hover h4,
#navlist ul li a:hover i {
    display: inline;
    color: white;
}

#navlist ul li a i {
    font-size: 15px;
    color: var(--texttheme);
}

@media screen and (max-width: 768px) {
    #navigation button {
        display: inline;
    }
}

@media screen and (max-width: 768px) {
    #scrollbox {
        display: none;
    }
}